<!doctype html>

<!-- Make sure you can keep your HTML files around 14-15 KB in order for a client to parse the website correctly.-->

<html lang="en-us"> <!-- Specify a language!-->

    <head>
        <meta charset="utf-8">
        <title>Page Title</title>

        <link rel="icon" type="image/x-icon" href="../assets/smiley-face-icon.png"> <!-- Set a nice favicon image! (Browser tab icon) -->

        <meta name="viewport" content="width=device-width, initial-scale=1"> <!-- To fit within viewport-->
        <meta name="theme-color" content="#ffffff"> <!-- Theme Color for Chrome, Firefox OS and Opera -->

        <!-- <base href="https://example.com/page.html"> base link for all recources used (so you can use relative links)-->
        
        <link rel="stylesheet" href="../styles/base-css.css"> <!-- CSS (Cascading Style Sheet) --><!-- To implement different libraries, like jQuery. -->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <script src="https://unpkg.com/github-corner-element"></script>
    </head>

    <body style="margin: 0px;"> <!-- Setting the margin to 0px so all elements fit.-->
        
        <script src="../js/full-js.js"> // Keep this at the bottom for the page elements to have loaded by then. </script>
        
        <noscript>
            <!-- Figure something out for those who don't have JavaScript.-->
        </noscript>
    </body>

</html>

